{% extends "base.html.twig" %}

{% block title %}
    Payez votre commande avec Stripe
{% endblock %}

{% block body %}
    <h1>Payez votre commande avec Stripe</h1>

    <form id="payment-form">
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit" class="btn btn-success">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Payer avec Stripe !</span>
      </button>
      <p id="card-error" role="alert"></p>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const clientSecret = '{{ clientSecret }}';
        const stripePublicKey = '{{ stripePublicKey }}';
        const redirectAfterSuccessUrl = "{{ url('purchase_payment_success', {'id': purchase.id }) }}"
    </script>
    <script src="/js/payment.js"></script>
{% endblock %}