<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		<div class="container pt-5"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
