{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" with {'p': product} %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A numquam sint sed aperiam? Cum, hic?</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
	</div>
{% endblock %}
