{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares</h1>
	<div class="row">
		{% for i in 1..3 %}
			<div class="col">
				<div class="card">
					<img src="https://picsum.photos/200/200" class="img-fluid" alt="Image du produit">
					<div class="card-body">
						<h4 class="card-title">Superbe Chaise en Bois</h4>
						<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, aut!</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A numquam sint sed aperiam? Cum, hic?</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas iusto voluptate optio debitis aperiam?"
        } %}
	</div>
{% endblock %}
