<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-body">
			<i class="{{icone}} fa-2x mb-3"></i>
			<p class="card-text">{{text}}</p>
		</div>
	</div>
</div>
