<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">SymShop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			{% for c in categoryRepository.findAll() %}
			<li class="nav-item">
				<a class="nav-link" href="#">{{ c.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item"><a href="#" class="nav-link">Inscription</a></li>
			<li class="nav-item"><a href="#" class="btn btn-success">Login</a></li>
			<li class="nav-item"><a href="#" class="btn btn-danger">Logout</a></li>
		</ul>
	</div>
</nav>
